.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

p {
    font-family: "Microsoft YaHei";
    font-size: 12px;
    color: black;
}

body {
    background-color: #E4E3DA;
}


/*网站标记*/

.wrap {
    width: 970px;
    background-color: #FCFBF0;
    margin: 0 auto;
}

.nav {
    text-align: center;
    width: 100%;
}

.navwrap {
    width: 350px;
    padding: 10px 0;
}

.nav .navwrap div {
    float: left;
}

#date {
    width: 200px;
    font-size: 12px;
    line-height: 1.8;
    margin-left:20px;
}

#home {
    width: 300px;
    margin-left:250px;
    margin-bottom: 30px;
}


/*全站导航条*/

.nav ul {
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.nav ul li {
    display: block;
    float: left;
    width: 96px;
    background-color: #ccb18a;
    font-family: 黑体;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    border-right: 1px white solid;
}

.nav ul li.last-li {
    border-right: none;
}

.nav li a {
    display: block;
    color: white;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #fff;
    color: black;
    border: 1px green solid;
    border-bottom: none;
}


/*--专栏 --*/
embed {
    margin: 50px 30px 0px 180px;
    text-align: center;
}


.article-info ul {
    margin-bottom: 10px;
    margin-left: 80px;
    padding-bottom: 10px;
    border-bottom: 1px #E3E2D9 solid;
}

.article-info li {
    float: left;
    width: 45px;
    height: 30px;
    margin-right: 10px;
    
}

.article-info li a {
    display: block;
    height: 30px;
    color: transparent;

}

.article-info li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.article-info .sina {
    background-image: url(img/share-icon.png);
}

.article-info .wechat {
    background-image: url(img/share-icon.png);
    background-position: 0 -30px;
}

.article-info .QQzone {
    background-image: url(img/share-icon.png);
    background-position: 0 -60px;
}

.article-info .QQ {
    background-image: url(img/share-icon.png);
    background-position: 0 -90px;
}

.article-info .email {
    background-image: url(img/share-icon.png);
    background-position: 0 -120px;
}

.article-info .other {
    background-image: url(img/share-icon.png);
    background-position: 0 -150px;
}

.channel-nav,
.channel-nav p {
    color: #626360;
    font-size: 16px;
    text-decoration: none;
    margin-left: 40px;
    margin-bottom: 30px;
}
.main {
    margin-top: 30px;
}

.left {
    width: 655px;
    float: left;
}


a.all{
height:16px;
width:40px;
font-size:12px;}
.classfied a:hover,.classfied a.current{
    background-color:#000;
    filter:alpha(opacity=50); 
-moz-opacity:0.5; 
opacity:0.5;
color:#fff;
}

.classfied a:first-child{
    }
.author-column li.bg-column{
        margin-left:54px;
        float:left;
        display:block;
        margin-right:0px;
        margin-bottom:20px;
        height:150px;
        overflow:hidden;
        position:relative;
        background:url(img/bg_02.png) no-repeat;
        width:279px;
        zoom:1.35;
        margin-top: 35px;
        padding-top: 10px;
}

.author-column li.group-end{
    margin-right:0px;

}

.author-column li  h3 a{
    color:#554123;
    font-size:13px;
    text-decoration:none;
    font-family:"Microsoft Yahei";
    margin-bottom:15px;
    margin-left:15px;
    font-weight: bold;
    margin-top: 50px;


}
.author-column li  h3 a:hover {
    color:#626360;
    text-decoration:none;
    font-weight: bold;
}

.author-column li span{
    font-size:10px;
    line-height:1.5;
    margin-left:15px;
    font-family:"Microsoft Yahei";

}
.author-column li .group{
    margin:20px 0px 20px 18px;}

.Month ul li img{display:block;}
.author-column .Meta ul li{
    display:block;
    margin-bottom:15px;
    width:300px;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
    color:#fff;
}
.author-column .Meta ul li a,.author-column .Meta ul li a:hover{
color:#fff;
}

.author-column li .Meta {
    display:none;
    position:absolute;
    bottom:45px;
    width:258px;
    height:100px;
    padding:5px 0 0 10px;
    background:#000;
    left:0px;
    opacity:.7;
    filter:alpha(opacity=70);
}

.author-column li .Meta ul{
    margin-top:10px;}

img{
    float: left;
}

/*--column--*/
