body {
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: #ECE8E7;
}

h1 {
    text-align: center;
    color: #1B1B19;
    font-size: 40px;
    border-bottom: 0.2px white solid;
    width: 290px;
    padding-bottom: 3px;
    margin: 10px auto;
}

p {
    color: #fff;
    text-indent: 3em;
    line-height: 1.5;
    font-size: 20px;
}

form {
    text-indent: 3.5em;
}
